{% load static %}

<html>
<head>
    <title>Anu Mam</title>

   
    <link rel="stylesheet" href="{% static 'css/faculty.css' %}">
</head>

<body>

<div class="container">

    
    <div class="profile">
        <img src="{% static "images/anumam.jpg" %}" alt="Profile Image">

        <h2>{{ anu.name }}</h2>
        <p class="designation">{{ anu.designation }}</p>
    </div>

    
    <div class="details">

        <div class="row"><span>Subject</span><b>:  {{anu.subject }}</b></div>
        <div class="row"><span>Department</span><b>:  {{anu.department }}</b></div>
        <div class="row"><span>Qualification</span><b>:  {{ anu.qualification }}</b></div>
        <div class="row"><span>Email</span><b>:  {{ anu.email }}</b></div>
        <div class="row"><span>Phone</span><b>:  {{ anu.phone }}</b></div>
        <div class="row"><span>Address</span><b>:  {{ anu.address }}</b></div>
        <div class="row"><span>Specialization</span><b>:  {{ anu.specialization }}</b></div>
        <div class="row"><span>Field of Interest</span><b>:  {{ anu.interest }}</b></div>
        <div class="row"><span>Experience</span><b>:  {{ anu.experience }}</b></div>

    </div>

</div><br><br>
<a href="{% url 'faculty' %}" class="btn btn-primary5">Back to Page</a>&nbsp;&nbsp;
<a href="{% url 'home' %}" class="btn btn-primary4">Back to home</a>

</body>
</html>
