{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Faculty Details</title>


    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    
    <h1 id = "title" >Faculty Members</h1>
    <br>

    <div class="">

         <div class="col-md-3 col-sm-6">
            <div class="thumbnail text-center">

                <img src="{% static 'images/anumam.jpg' %}" 
                style="width:200px; height:200px;">

                <div class="caption">
                    <h4>Dr. Anu Taneja</h4>
                    <p>Asst. Professor</p>

                    <a href="{% url 'view1' %}" class="btn btn-primary">
                    Read More
                    </a>
                </div>

            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="thumbnail text-center">

                <img src="{% static 'images/soniamam.jpg' %}" 
                style="width:200px; height:200px;">

                <div class="caption">
                    <h4>Ms. Sonia Batra</h4>
                    <p>Asst. Professor</p>

                    <a href= "{% url 'view3' %}" class="btn btn-primary">
                    Read More
                    </a>
                </div>

            </div>
        </div>

        
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail text-center">

                <img src="{% static 'images/meetendersir.jpg' %}" 
                style="width:200px; height:200px;">

                <div class="caption">
                    <h4>Mr. Meetender</h4>
                    <p>Asst. Professor</p>

                    <a href= "{% url 'view4' %}" class="btn btn-primary">
                    Read More
                    </a>
                </div>

            </div>
        </div>

    </div>

 <div class="col-md-3 col-sm-6">
            <div class="thumbnail text-center">

                <img src="{% static 'images/aloksir.jpg' %}" 
                style="width:200px; height:200px;">

                <div class="caption">
                    <h4>Mr. Alok Sir</h4>
                    <p>Asst. Professor</p>

                    <a href= "{% url 'view6' %}" class="btn btn-primary">
                    Read More
                    </a>
                </div>

            </div>
        </div>
         <div class="col-md-3 col-sm-6">
            <div class="thumbnail text-center">

                <img src="{% static 'images/shobhamam.jpg' %}" 
                style="width:200px; height:200px;">

                <div class="caption">
                    <h4>Dr.Shobha Chawla</h4>
                    <p>Asst. Professor</p>

                    <a href="{% url 'view5' %}" class="btn btn-primary">
                    Read More
                    </a>
                </div>

            </div>
        </div>
 <div class="col-md-3 col-sm-6">
            <div class="thumbnail text-center">

                <img src="{% static 'images/sanjnamam.jpg' %}" 
                style="width:200px; height:200px;">

                <div class="caption">
                    <h4>Ms. Sanjana Gulia</h4>
                    <p>Asst. Professor</p>

                    <a href="{% url 'view7' %}" class="btn btn-primary">
                    Read More
                    </a>
                </div>

            </div>
        </div>
         <div class="col-md-3 col-sm-6">
            <div class="thumbnail text-center">

                <img src="{% static 'images/keshavsir.jpg' %}" 
                style="width:200px; height:200px;">

                <div class="caption">
                    <h4>Mr. keshavsir.jpg</h4>
                    <p>Asst. Professor</p>

                    <a href="{% url 'view15' %}" class="btn btn-primary">
                    Read More
                    </a>
                </div>

            </div>
        </div>
         <div class="col-md-3 col-sm-6">
            <div class="thumbnail text-center">

                <img src="{% static 'images/kritikamam.jpg' %}" 
                style="width:200px; height:200px;">

                <div class="caption">
                    <h4>Ms. Kritika Pharswal</h4>
                    <p>Asst. Professor</p>

                    <a href="{% url 'view11' %}" class="btn btn-primary">
                    Read More
                    </a>
                </div>

            </div>
        </div>
         <div class="col-md-3 col-sm-6">
            <div class="thumbnail text-center">

                <img src="{% static 'images/harshmam.jpg' %}" 
                style="width:200px; height:200px;">

                <div class="caption">
                    <h4>Dr. Harsh Arora</h4>
                    <p>Asst. Professor</p>

                    <a href="{% url 'view10' %}" class="btn btn-primary">
                    Read More
                    </a>
                </div>

            </div>
        </div>
         <div class="col-md-3 col-sm-6">
            <div class="thumbnail text-center">

                <img src="{% static 'images/lekhramsir.jpg' %}" 
                style="width:200px; height:200px;">

                <div class="caption">
                    <h4>Mr. Lekhram Prajapati</h4>
                    <p>Asst. Professor</p>

                    <a href="{% url 'view12' %}" class="btn btn-primary">
                    Read More
                    </a>
                </div>

            </div>
        </div>
         <div class="col-md-3 col-sm-6">
            <div class="thumbnail text-center">

                <img src="{% static 'images/palakmam.jpg' %}" 
                style="width:200px; height:200px;">

                <div class="caption">
                    <h4>Ms. Palak Sharma</h4>
                    <p>Asst. Professor</p>

                    <a href="{% url 'view14' %}" class="btn btn-primary">
                    Read More
                    </a>
                </div>

            </div>
        </div>
 <div class="col-md-3 col-sm-6">
            <div class="thumbnail text-center">

                <img src="{% static 'images/monikamam.jpg' %}" 
                style="width:200px; height:200px;">

                <div class="caption">
                    <h4>Ms. Monika Chawla</h4>
                    <p>Asst. Professor</p>

                    <a href="{% url 'view13' %}" class="btn btn-primary">
                    Read More
                    </a>
                </div>

            </div>
        </div>
         <div class="col-md-3 col-sm-6">
            <div class="thumbnail text-center">

                <img src="{% static 'images/preetimam.jpg' %}" 
                style="width:200px; height:200px;">

                <div class="caption">
                    <h4>Ms. Preeti Sharma</h4>
                    <p>Asst. Professor</p>

                    <a href="{% url 'view8' %}" class="btn btn-primary">
                    Read More
                    </a>
                </div>

            </div>
        </div> <div class="col-md-3 col-sm-6">
            <div class="thumbnail text-center">

                <img src="{% static 'images/pallavimam.jpg' %}" 
                style="width:200px; height:200px;">

                <div class="caption">
                    <h4>Ms. Pallavi Bhatt</h4>
                    <p>Asst. Professor</p>

                    <a href="{% url 'view9' %}" class="btn btn-primary">
                    Read More
                    </a>
                </div>

            </div>
        </div>
        <br><br>
        <a href="{% url 'home' %}" class="btn btn-primary4">
                    Back to home
                    </a>
</body>
</html>
