{% load static %}

<html>
<head>
    <title>Harsh Mam</title>

    <link rel="stylesheet" href="{% static 'css/faculty.css' %}">
</head>

<body>

<div class="container">

    <div class="profile">
        <img src="{% static 'images/harshmam.jpg' %}" alt="Profile Image">

        <h2>{{ harsh.name }}</h2>
        <p class="designation">{{ harsh.designation }}</p>
    </div>

    <div class="details">

        <div class="row"><span>Subject</span><b>: {{ harsh.subject }}</b></div>
        <div class="row"><span>Department</span><b>: {{ harsh.department }}</b></div>
        <div class="row"><span>Qualification</span><b>: {{ harsh.qualification }}</b></div>
        <div class="row"><span>Email</span><b>: {{ harsh.email }}</b></div>
        <div class="row"><span>Phone</span><b>: {{ harsh.phone }}</b></div>
        <div class="row"><span>Address</span><b>: {{ harsh.address }}</b></div>
        <div class="row"><span>Specialization</span><b>: {{ harsh.specialization }}</b></div>
        <div class="row"><span>Field of Interest</span><b>: {{ harsh.interest }}</b></div>
        <div class="row"><span>Experience</span><b>: {{ harsh.experience }}</b></div>

    </div>

</div><br><br>
<a href="{% url 'faculty' %}" class="btn btn-primary5">Back to Page</a>&nbsp;&nbsp;
<a href="{% url 'home' %}" class="btn btn-primary4">Back to home</a>

</body>
</html>