{% load static %}

<html>
<head>
    <title>Keshav Sir</title>

    <link rel="stylesheet" href="{% static 'css/faculty.css' %}">
</head>

<body>

<div class="container">

    <div class="profile">
        <img src="{% static 'images/keshavsir.jpg' %}" alt="Profile Image">

        <h2>{{ keshav.name }}</h2>
        <p class="designation">{{ keshav.designation }}</p>
    </div>

    <div class="details">

        <div class="row"><span>Subject</span><b>: {{ keshav.subject }}</b></div>
        <div class="row"><span>Department</span><b>: {{ keshav.department }}</b></div>
        <div class="row"><span>Qualification</span><b>: {{ keshav.qualification }}</b></div>
        <div class="row"><span>Email</span><b>: {{ keshav.email }}</b></div>
        <div class="row"><span>Phone</span><b>: {{ keshav.phone }}</b></div>
        <div class="row"><span>Address</span><b>: {{ keshav.address }}</b></div>
        <div class="row"><span>Specialization</span><b>: {{ keshav.specialization }}</b></div>
        <div class="row"><span>Field of Interest</span><b>: {{ keshav.interest }}</b></div>
        <div class="row"><span>Experience</span><b>: {{ keshav.experience }}</b></div>

    </div>

</div><br><br>
<a href="{% url 'faculty' %}" class="btn btn-primary5">Back to Page</a>&nbsp;&nbsp;
<a href="{% url 'home' %}" class="btn btn-primary4">Back to home</a>

</body>
</html>
