{% load static %}

<html>
<head>
    <title>Palak Mam</title>

    <link rel="stylesheet" href="{% static 'css/faculty.css' %}">
</head>

<body>

<div class="container">

    <div class="profile">
        <img src="{% static 'images/palakmam.jpg' %}" alt="Profile Image">

        <h2>{{ palak.name }}</h2>
        <p class="designation">{{ palak.designation }}</p>
    </div>

    <div class="details">

        <div class="row"><span>Subject</span><b>: {{ palak.subject }}</b></div>
        <div class="row"><span>Department</span><b>: {{ palak.department }}</b></div>
        <div class="row"><span>Qualification</span><b>: {{ palak.qualification }}</b></div>
        <div class="row"><span>Email</span><b>: {{ palak.email }}</b></div>
        <div class="row"><span>Phone</span><b>: {{ palak.phone }}</b></div>
        <div class="row"><span>Address</span><b>: {{ palak.address }}</b></div>
        <div class="row"><span>Specialization</span><b>: {{ palak.specialization }}</b></div>
        <div class="row"><span>Field of Interest</span><b>: {{ palak.interest }}</b></div>
        <div class="row"><span>Experience</span><b>: {{ palak.experience }}</b></div>

    </div>

</div>
<br>
<br>
<a href="{% url 'faculty' %}" class="btn btn-primary5">Back to Page</a>&nbsp;&nbsp;
<a href="{% url 'home' %}" class="btn btn-primary4">Back to home</a>
</body>
</html>