{% load static %}

<html>
<head>
    <title>Pallavi Mam</title>


    <link rel="stylesheet" href="{% static 'css/faculty.css' %}">
</head>

<body>

<div class="container">

    <div class="profile">
        <img src="{% static 'images/pallavimam.jpg' %}" alt="Profile Image">

        <h2>{{ pallavi.name }}</h2>
        <p class="designation">{{ pallavi.designation }}</p>
    </div>

    <div class="details">

        <div class="row"><span>Subject</span><b>: {{ pallavi.subject }}</b></div>
        <div class="row"><span>Department</span><b>: {{ pallavi.department }}</b></div>
        <div class="row"><span>Qualification</span><b>: {{ pallavi.qualification }}</b></div>
        <div class="row"><span>Email</span><b>: {{ pallavi.email }}</b></div>
        <div class="row"><span>Phone</span><b>: {{ pallavi.phone }}</b></div>
        <div class="row"><span>Address</span><b>: {{ pallavi.address }}</b></div>
        <div class="row"><span>Specialization</span><b>: {{ pallavi.specialization }}</b></div>
        <div class="row"><span>Field of Interest</span><b>: {{ pallavi.interest }}</b></div>
        <div class="row"><span>Experience</span><b>: {{ pallavi.experience }}</b></div>

    </div>

</div><br>
<br>
<a href="{% url 'faculty' %}" class="btn btn-primary5">Back to Page</a>&nbsp;&nbsp;
<a href="{% url 'home' %}" class="btn btn-primary4">Back to home</a>
</html>