{% load static %}

<html>
<head>
    <title>Shobha Mam</title>

    
    <link rel="stylesheet" href="{% static 'css/faculty.css' %}">
</head>

<body>

<div class="container">

    <div class="profile">
        <img src="{% static 'images/shobhamam.jpg' %}" alt="Profile Image">

        <h2>{{ shobha.name }}</h2>
        <p class="designation">{{ shobha.designation }}</p>
    </div>

    <div class="details">

        <div class="row"><span>Subject</span><b>: {{ shobha.subject }}</b></div>
        <div class="row"><span>Department</span><b>: {{ shobha.department }}</b></div>
        <div class="row"><span>Qualification</span><b>: {{ shobha.qualification }}</b></div>
        <div class="row"><span>Email</span><b>: {{ shobha.email }}</b></div>
        <div class="row"><span>Phone</span><b>: {{ shobha.phone }}</b></div>
        <div class="row"><span>Address</span><b>: {{ shobha.address }}</b></div>
        <div class="row"><span>Specialization</span><b>: {{ shobha.specialization }}</b></div>
        <div class="row"><span>Field of Interest</span><b>: {{ shobha.interest }}</b></div>
        <div class="row"><span>Experience</span><b>: {{ shobha.experience }}</b></div>

    </div>

</div>
<br>
<br>
<a href="{% url 'faculty' %}" class="btn btn-primary5">Back to Page</a>&nbsp;&nbsp;
<a href="{% url 'home' %}" class="btn btn-primary4">Back to home</a>

</body>
</html>