{% load static %}

<html>
<head>
    <title>Sonia Mam</title>

   
    <link rel="stylesheet" href="{% static 'css/faculty.css' %}">
</head>

<body>

<div class="container">

    
    <div class="profile">
        <img src="{% static "images/soniamam.jpg" %}" alt="Profile Image">

        <h2>{{ sonia.name }}</h2>
        <p class="designation">{{ sonia.designation }}</p>
    </div>

    
    <div class="details">

        <div class="row"><span>Subject</span><b>:  {{sonia.subject }}</b></div>
        <div class="row"><span>Department</span><b>:  {{sonia.department }}</b></div>
        <div class="row"><span>Qualification</span><b>:  {{sonia.qualification }}</b></div>
        <div class="row"><span>Email</span><b>:  {{sonia.email }}</b></div>
        <div class="row"><span>Phone</span><b>:  {{sonia.phone }}</b></div>
        <div class="row"><span>Address</span><b>:  {{sonia.address }}</b></div>
        <div class="row"><span>Specialization</span><b>:  {{sonia.specialization }}</b></div>
        <div class="row"><span>Field of Interest</span><b>:  {{sonia.interest }}</b></div>
        <div class="row"><span>Experience</span><b>:  {{sonia.experience }}</b></div>

    </div>

</div>
<br>
<br>
<a href="{% url 'faculty' %}" class="btn btn-primary5">Back to Page</a>&nbsp;&nbsp;
<a href="{% url 'home' %}" class="btn btn-primary4">Back to home</a>
</body>
</html>